* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(170, 224, 238);
  font-family: Electrolize;
}



a {
  font-size: small;
}
a:hover {
  transform: scale(1.2,1.2);
  transition: 0.4s ease-in-out;
}

body {
  display: grid;
  grid-template-areas:
   "header nav nav"
   "main main main"
   "main main main"
   "main main main";
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

header {
  grid-area: header;
  font-size: xx-large;
  padding: 15px;

 
}

nav {
  grid-area: nav;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
 

}


img {
  width: 100%;
  height: 100%;
}


main {
  grid-area: main;
  width: 100%;
  display: flex;
}

